.left-sidebar, .right-sidebar {
    flex: 0 1 250px;
}
.left-sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.right-sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tweet-button {
    width: 50%;
    border-radius: 50px;
    background-color:#4C9BEF;
    color:white;
    border:#4C9BEF ;
}


.avatar-wrapper {

    height: 100px;
    width: 100px;
    border-radius: 99999px;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 0 0 15px -9px #000;
}
.button {
    background-color: #ffffff;

    padding: 5px 20px;
    border-radius: 50px;
    color: black ;
    border: 1px solid #CFD9DE;
    /*box-shadow: 0 0 15px -9px #000;*/
}



.photos-wrapper {
    display:flex;
    max-width:100vw;
}

.photo-wrapper {
    flex:1 0;
    min-width:1px;
    aspect-ratio: 4/3;
    overflow:hidden;
}
.photos-wrapper .photo-wrapper img {
    aspect-ratio: 4/3;
    object-fit: cover;
    transition: all ease .3s;
    filter: grayscale(1);
}

.photo-wrapper:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
}

[data-features] {
    opacity: .8;
}

.photos-wrapper .photo-wrapper:last-child {
    filter: grayscale(1);
}